a {
  text-decoration: underline;
  cursor: pointer;
}

.intro-section {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 3fr 2fr;
  grid-template-columns: 3fr 2fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #000;
}

.intro-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #000;
  color: #131313;
}

.intro-project {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #000;
}

.heading {
  display: block;
  width: auto;
  max-width: 700px;
  margin-top: 110px;
  margin-bottom: 0px;
  padding-left: 0%;
  font-family: Neuemontreal, sans-serif;
  color: #fff;
  font-size: 70px;
  line-height: 78px;
  font-weight: 400;
  letter-spacing: 0px;
  cursor: none;
}

.body {
  height: 100vh;
  background-color: #000;
  font-size: 16px;
  cursor: default;
}

.social {
  display: -ms-grid;
  display: grid;
  margin-top: 0px;
  align-self: flex-end;
  grid-auto-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.social-link {
  display: block;
  padding: 15px 15px 15px 0px;
  opacity: 0.9;
  font-family: Objectsans, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-decoration: none;
  cursor: none;
}

.social-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.slider-mask {
  position: static;
  display: -ms-grid;
  display: grid;
  overflow: scroll;
  width: 100%;
  height: 100vh;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 60px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  background-color: #000;
  -o-object-fit: fill;
  object-fit: fill;
}

.project-item {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  cursor: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.img {
  overflow: visible;
  width: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider-touch-only {
  display: none;
}

.contact-link {
  margin-left: 10px;
  padding-right: 0px;
  font-family: Objectsans, sans-serif;
  color: #fff;
  font-size: 1.3vw;
  text-decoration: none;
}

.arrow {
  width: 2vw;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 1.2vw;
}

.cta {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-transition: all 200ms cubic-bezier(.77, 0, .175, 1);
  transition: all 200ms cubic-bezier(.77, 0, .175, 1);
  text-decoration: none;
  cursor: none;
}

.cta:hover {
  padding-left: 5px;
  opacity: 0.85;
}

.online-dot {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 12px;
  height: 12px;
  margin-left: 6px;
  padding-left: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: #f9f9f9;
  border-radius: 100%;
  background-color: #3fbb26;
}

.heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.intro {
  font-family: Objectsans, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.intro.title {
  margin-top: 10px;
  opacity: 1;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.intro-wrapper {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #000;
}

.pre-loader {
  position: fixed;
  z-index: 999;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

@media screen and (max-width: 991px) {
  .intro-section {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-columns: 3fr;
    grid-template-columns: 3fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .intro-content {
    width: 100%;
    height: auto;
    padding: 20px 0% 20px 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .intro-project {
    display: none;
    overflow: hidden;
    width: 100%;
    height: 40vh;
    padding: 0%;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .heading {
    display: block;
    max-width: none;
    margin-top: 60px;
    padding-right: 193px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    font-size: 5.5vw;
    line-height: 5.6vw;
  }
  .social {
    margin-top: 40px;
    align-self: flex-start;
    grid-column-gap: 15px;
  }
  .social-link {
    opacity: 1;
    font-size: 1.5vw;
    line-height: 1.5vw;
  }
  .slider-mask {
    position: static;
    display: -ms-grid;
    display: grid;
    overflow: visible;
    width: 100%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-items: stretch;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 80px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .project-item {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 500px;
  }
  .img {
    width: 100%;
    max-width: none;
  }
  .slide-nav {
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: none;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
    font-size: 8px;
    line-height: 10px;
  }
  .slider-touch-only {
    display: block;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0%;
  }
  .image-3 {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .mask {
    overflow: hidden;
    width: 100%;
    height: 80vh;
  }
  .left-arrow {
    display: none;
  }
  .right-arrow {
    display: none;
  }
  .contact-link {
    font-size: 2vw;
  }
  .arrow {
    width: 3vw;
    font-size: 5vw;
  }
  .cta {
    margin-top: 40px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .intro {
    font-size: 1.6vw;
    line-height: 1.6vw;
  }
  .intro.title {
    font-size: 1.3vw;
    line-height: 1.3vw;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 767px) {
  .intro-content {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading {
    display: block;
    max-width: none;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 7vw;
    line-height: 7.8vw;
  }
  .social {
    margin-top: 60px;
    grid-column-gap: 15px;
  }
  .social-link {
    font-size: 2vw;
  }
  .project-item {
    height: auto;
  }
  .mask {
    height: 70vh;
  }
  .contact-link {
    font-size: 4vw;
  }
  .arrow {
    width: 5vw;
  }
  .cta {
    margin-top: 40px;
  }
  .link-block {
    width: 100%;
  }
  .heading-wrapper {
    display: block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .intro {
    font-size: 3vw;
    line-height: 3vw;
  }
  .intro.title {
    font-size: 2vw;
    line-height: 2vw;
  }
}

@media screen and (max-width: 479px) {
  .intro-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding: 30px 20px 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading {
    width: 100%;
    max-width: none;
    margin-top: 60px;
    margin-right: 0px;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 9.5vw;
    line-height: 11vw;
    text-align: left;
  }
  .social {
    margin-top: 60px;
    grid-column-gap: 10px;
  }
  .social-link {
    font-size: 3.5vw;
    line-height: 3vw;
  }
  .slider-mask {
    height: 65vh;
  }
  .project-item {
    height: auto;
  }
  .slide-nav {
    display: none;
  }
  .slider-touch-only {
    height: auto;
  }
  .image-3 {
    height: auto;
  }
  .mask {
    height: 70vh;
    background-color: #000;
  }
  .contact-link {
    font-size: 5vw;
    text-decoration: none;
  }
  .arrow {
    width: 6vw;
  }
  .cta {
    margin-top: 60px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-decoration: none;
  }
  .link-block {
    overflow: visible;
  }
  .heading-wrapper {
    display: block;
    width: 100%;
    max-width: none;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .intro {
    font-size: 4.8vw;
    line-height: 4.8vw;
  }
  .intro.title {
    margin-top: 8px;
    opacity: 1;
    font-size: 3.2vw;
    line-height: 3.2vw;
    font-weight: 100;
    letter-spacing: 0.6px;
  }
}

#w-node-996a4e7c7861-bc79e181 {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

@media screen and (max-width: 479px) {
  #w-node-39a368ab1658-bc79e181 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@font-face {
  font-family: 'Neuemontreal';
  src: url('../fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Neuemontreal';
  src: url('../fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Objectsans';
  src: url('../fonts/ObjectSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Objectsans';
  src: url('../fonts/ObjectSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Objectsans';
  src: url('../fonts/ObjectSans-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}